<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Videojuegos</title>
</head>
<body>
    <h1>Lista de Videojuegos</h1>
    <form action="/recomendacion" method="post">
        <ul>
            {% set counter = 0 %}
            {% for juego in videojuegos %}
                <li>
                    <input type="checkbox" name="juegos_gustados" value="{{ counter }}">
                    {{ juego.nombre }}
                </li>
                {% set counter = counter + 1 %}
            {% endfor %}
        </ul>
        <input type="submit" value="Obtener recomendación">
    </form>
</body>
</html>
